<%- include("partials/header") -%>

<div class="page-div">



<div class="my-routes">
<h1>My Routes</h1>
</div>

<div class="newRouteButton">
  <a href="/new-route"><button type="button" name="button" class="btn btn-outline-primary btnNewRoute btn-lg">New Route</button></a>
</div>

<div class="routesTableBlock table-responsive">
    <table class="table table-light routesTable table-striped">
    <thead>
      <tr>
        <th scope="col">Route #</th>
        <th scope="col">Route Name</th>
        <th scope="col">Distance (mi)</th>
      </tr>
    </thead>


    <tbody class="tableBody">
      <% let i=1 %>
      <% routes.forEach(el => { %>
        <tr class="routes-table-row" onclick="window.location='/routes/<%= el._id %>';">
          <th scope="row"><%= i %></th>
          <td><%= el.routeName %></td>
          <td><%= el.distance %></td>
        </tr>
        <%i++%>
      <% }); %>
    </tbody>
  </table>
</div>

</div>
<!-- </div> -->
<%- include("partials/footer") -%>
